<div class="container col-8 d-sm-flex " st>
    @for (car of cars; track  car.id) {

            <div class="card col-lg shadow border m-1">
                <div class="card-header">
                    <h2>{{car.make}}</h2>
                    <img [src]="car.url"  alt="" style="width: 100%; ">
                </div>
                <div class="card-body col-sm">
                    <div class="text text-lg-start ">
                       <label>Make: {{car.make}}</label>
                       <br>
                        <label>Model: {{car.model}}</label>
                       <br>
                        <label>Registration: {{car.registration}}</label>
                    </div>
                </div>

                <div class="card-footer col-sm">
                        <div class="text text-lg-start col-3">
                           <label>Color:{{car.color}}</label> 
                           <label>Mileage:{{car.mileage}}</label> 
                           <label>Price:{{price[car.id] }}</label> 
                        </div>
                </div>
            </div>
    }
</div>
