<div class="container col-6">
    @for (car of Cars; track cars?.id) {

            <div class="card col-lg shadow border m-1">
                <div class="card-header">
                    <h2>{{car.id}}</h2>
                </div>
                <div class="card-body col-sm-4">
                    <div class="text text-lg-start ">
                       <label>Make: {{car.make}}</label>
                       <br>
                        <label>Model: {{car.model}}</label>
                       <br>
                        <label>Registration: {{car.registration}}</label>
                    </div>
                </div>

                <div class="card-footer">
                        <div class="text text-lg-start">
                           <label>Color: {{car.color}}</label> &nbsp;
                           <label>Mileage: {{car.mileage}}</label> &nbsp;
                           <label>Price: {{car.price}}</label> &nbsp;
                        </div>
                </div>
            </div>
    }
</div>
